/*hello*/
//NEXT: add real pictures and make slideshow prettier

//variables
$lightgreen: hsl(80, 50%, 50%)
$darkgreen: hsl(80, 60%, 20%)
$middlegreen: hsl(80, 90%, 40%)
//mixins


//styles
body
    z-index: 0
    background: $darkgreen !important
    
header
    background-color: $lightgreen
    font-size: 40px
    top: 0
    color: $darkgreen !important
    height: 60px
    border-radius: 15px

nav
    border: solid $lightgreen
    font-size: 30px
    background-color: $darkgreen !important
    height: 60px
    border-radius: 15em
    position: sticky !important
    top: 0px
    z-index: 9
nav
    li
        margin: 2px 20px
.container
    height: 100vh
    background: $lightgreen
    border: solid $middlegreen !important
//about

#slideshow
    overflow: hidden
    position: relative
    
#slideshow
    // display: none
    overflow: hidden
    height: 350px

#slideshow
    figure
        div
            width: 20% !important
            float: left

    
.bigImg
    width: 100% !important
    float: left

#slideshow
    figure
        position: relative
        width: 500%
        margin: 0
        left: 0
        // animation: 0.2s sliding infinite
        transition: all 3s cubic-bezier(.55, -0.34, .39, 1.43)


// @keyframes sliding
//     0%
//         left: 0%
//     10%
//         left: 0%
//     100%
//         left: -100%
    
    



//possibly hover after this
.text
    //something
.fade
    animation: fade 1.5s infinite
@keyframes fade
    from
        opacity: 0.4
    to
        opacity: 1

a
    z-index: 10
    text-decoration: none !important
    transition: all 0.5s
.initial-color
        color: hsl(80, 50%, 50%) !important

.inverse-color
    color: $darkgreen !important

.background
    transition: all 0.4s
    position: absolute !important
    top: 0px
    // background: white 1px !important
    left: 0
    z-index: 10
    display: block
    opacity: 0.4
    border-radius: 5em