/* hello */

* {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
}

body {
  font-family: "Montserrat", sans-serif;
  /* Ciada Stripes by Randy Merrill */
  background-color: #026873;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

header {
  background: linear-gradient(to left, #134e5e, #71b280);
  font-size: 40px;
  top: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(14, 13, 13, 0.81);
  opacity: 0.8;
  height: 60px;
}

p a {
  color: #06727e;
  opacity: 1;
  text-shadow: none;
}

nav {
  font-size: 30px;
  background-color: #308070;
  height: 50px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  top: 0px;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 5px 5px -3px;
  width: 100%;
}

p {
  font-weight: 300;
}

nav li {
  margin: 2px 20px;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 3px rgba(14, 13, 13, 0.81);
  opacity: 0.8;
  font-weight: 300;
}

#contact {
  height: 100vh;
  padding: 30%;
}

nav ul {
  z-index: 200;
  text-decoration: none;
}

#buttons button {
  font-size: 22px;
  width: 100%;
  background: #009bc0;
  color: white;
  outline: 0;
  border-radius: 0 0 5px 5px;
  text-shadow: 0px 1px 2px #000;
  height: 60px;
  font-size: 25px;
}

div#buttons {
  margin: 5% 2% 10%;
}

div.col-md-4.col-sm-12 {
  padding: 0;
}

div.col-md-4.col-sm-12 div.holder {
  margin: auto;
  width: 95%;
}

#all .container {
  background: hsl(151, 21%, 52%);
  display: block;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(14, 13, 13, 0.81);
  height: auto;
  padding: 20px 20px !important;
  border: solid #06727e 10px;
  border-bottom: solid #06727e;
  border-bottom: solid #06727e 2.5px;
  border-radius: 12px !important;
  padding-bottom: 500px;
}

#all {
  padding: 0% !important;
  border-radius: 0;
  border: solid #06727e 5px;
  background: #06727e;
  opacity: 0.97;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px 1px;
}

#projects img {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.103);
  border-radius: 3px;
  max-width: 100%;
  margin: 0;
}

div.listed-project {
  height: 200px;
  margin-bottom: 20%;
}

div.technologies {
  position: relative;
  bottom: 50px;
  background: rgba(7, 115, 127, 0.966);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  max-width: 100%;
  opacity: 0;
  width: 95%;
  margin: auto;
  vertical-align: middle;
  padding-top: 5px;
}

div.technologies h5 {
  line-height: 2;
}

/*  ============ SLIDESHOW ============= */

#slideshow {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: auto;
  border-radius: 50px;
  top: -5% !important;
  padding: 0;
}

#slideshow figure div {
  width: 20% !important;
  float: left;
  height: 100%;
}

#slideshow figure {
  
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  transition: all 2s cubic-bezier(0.55, -0.34, 0.39, 1.43);
}

.bigImg {
  height: 70% !important;
  width: 100% !important;
  float: left;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  opacity: 0.95;
}

.slide p {
  width: 100%;
  height: auto;
  background: rgba(71, 132, 132, 0.2);
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  padding: 30px;
  padding-top: 2px;
  padding-bottom: 15px;
  line-height: 2;
}

#fcc {
  text-align: center;
}

.fade {
  animation: fade 1.5s infinite;
}

/* ========= KEYFRAMES ============ */

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

nav a {
  text-decoration: none !important;
  transition: all 0.5s;
}

button {
  cursor: pointer;
  outline: none;
}

.initial-color {
  color: #95bf40 !important;
}

.inverse-color {
  color: #3d5214 !important;
}

.background {
  transition: all 1s;
  position: absolute !important;
  top: 0px;
  left: 0;
  display: block;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 0;
  background: #134e5e !important;
  opacity: 0.5;
}

.row {
  flex: 5;
}

#abbe {
  padding-top: 10px;
}

.spacer {
  height: 40px;
}

i.fa-linkedin-square {
  color: black;
}

/* Flaired edges, by Tomas Theunissen */

#horizon1,
#horizon2,
#horizon3 {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: white !important;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 50%;
}

div.show {
  align-content: center;
}

div.col-md-5 {
  padding: auto;
}

#horizon1::before,
#horizon2::before,
#horizon3::before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  z-index: 500;
}

div.holder {
  background: rgba(30, 100, 200, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(5, 24, 2, 0.05);
  width: 80%;
  transition: all 0.2s cubic-bezier(0.5, 1.2, 0.5, 1);
  margin: 15px auto;
  backface-visibility: hidden;
}

div.holder a {
  text-decoration: none;
  color: white;
}

div.holder:hover {
  box-shadow: 1px 1px 2px 1px rgba(5, 24, 2, 0);
  transform: scale(1.02) translateZ(0);
}

div.holder:hover h2 {
  text-shadow: 1px 1px 1px #000;
  font-size: 32px;
}

div.holder:hover p {
  text-shadow: 1px 1px 10px #000;
  font-size: 16px;
}

div.li-profile {
  border-radius: 5px 5px 0 0;
  width: 100%;
  margin: 0 auto;
}

div.li-profile img {
  margin: 20px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

div.li-profile h2 {
  line-height: 80px;
}

/* TODO: GIVE BORDERS TO BUTTONS */

@media screen and (min-width: 680px) {
  div.holder {
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  div.container-outer {
    border: solid black 2px;
    width: 80%;
    margin: auto;
  }
  div.technologies {
    width: 93%;
  }
  .bigImg {
    height: 70%;
  }
}

@media screen and (max-width: 450px) {
  nav {
    width: 100vw;
    line-height: 50px;
  }
  #all {
    width: 100vw;
  }
  nav a {
    font-size: 25px;
    margin: 0;
    width: 30%;
    align-content: center;
    text-align: center;
  }
  nav li {
    margin: auto;
  }
  nav ul.nav.navbarnav {
    width: 100%;
  }
  nav ul.nav.navbarnav a[href="#about"] {
    width: 28%;
    margin-left: 0;
  }
  nav ul.nav.navbarnav a[href="#projects"] {
    width: 35%;
    margin-left: 5%;
  }
  nav ul.nav.navbarnav a[href="#contact"] {
    width: 32%;
    margin-right: 0;
  }
}
