/* hello */
body {
  background: #3d5214 !important;
}

header {
  background-color: #95bf40;
  font-size: 40px;
  top: 0;
  color: #3d5214 !important;
  height: 60px;
  border-radius: 15px;
}

nav {
  border: solid #95bf40;
  font-size: 30px;
  background-color: #3d5214 !important;
  height: 60px;
  border-radius: 15em;
  position: sticky !important;
  top: 0px;
  z-index: 20;
}

nav li {
  margin: 2px 20px;
  cursor: pointer;
}

nav ul {
  z-index: 200;
}

.container {
  height: 100vh;
  background: #95bf40;
  border: solid #85c20a !important;
  display: block;
  align-items: center;
  color: #3d5214;
  height: auto;
  padding: 20px 20px !important;
}
/* TODO: ADD TO KEYFRAMES */
#projects {
  padding: 20px 80px !important;
}

#slideshow {
  overflow: hidden;
  position: relative;
  height: 60vh;
  /* width: 50%; */
  /* border: solid green; */
  border-radius: 50px;
  top: -5% !important;
  padding: 0;
}

#slideshow figure div {
  width: 20% !important;
  float: left;
  height: 100%;
}

#slideshow figure {
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  transition: all 3s cubic-bezier(0.55, -0.34, 0.39, 1.43);
}

.bigImg {
  height: 80% !important;
  width: 100% !important;
  float: left;
  border: #85c20a solid;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
}

.slide p {
  border: solid #3d5214 !important;
  width: 20%;
  background: #639108;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  height: 20% !important;
  position: absolute;
  bottom: -1rem !important;
}

#fcc {
  text-align: center;
}

.fade {
  animation: fade 1.5s infinite;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
a {
  text-decoration: none !important;
  transition: all 0.5s;
}

.initial-color {
  color: #95bf40 !important;
}

.inverse-color {
  color: #3d5214 !important;
}

.background {
  transition: all 1s;
  position: absolute !important;
  top: 0px;
  left: 0;
  display: block;
  border-radius: 5em;
  z-index: 0;
  border: solid #639108;
  background: #85c20a !important;
  opacity: 0.4;
}

.row {
  flex: 5;
}
#abbe {
  padding-top: 10px;
}
.spacer {
  height: 40px;
}

/* Flaired edges, by Tomas Theunissen */
i {
  z-index: 20;
  color: black;
}
#horizon1,
#horizon2 {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #3d5214 !important;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 50%;
}
div.show {
  border: solid black 6px;
  border-radius: 2%;
  padding: 0;
  margin: 1px;
  display: float;
}

#horizon1::before,
#horizon2:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #3d5214;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  z-index: 500;
}
